@import url('https://font.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    position: fixed;
    width:100%;
    padding: 5px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    z-index:998;
}
nav.sticky{
    background: #000;
}
nav .navbar{
    display: flex;
    margin: auto;
    width:90%;
    align-items: center;
    justify-content: space-between;
   
}
nav .navbar .logo-img img{
    width:80%;
    Height:8vh;
}
nav .navbar .welcome-btn button{
    width:100%;
    Height:5vh;
    background-color: #000;
    color:#fff;
    padding: 5px 5px 5px 5px;
}
.home .banner{
    background-image: url("stranger.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    height:80vh;
    width:100%;
}
.home .banner-content{
    padding-top:32vh;
    padding-bottom:20vh;
    color:#fff;
}
.home .banner-content .text h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 75px;
    font-weight:600;
}
.home .banner-shadow{
    height: 7.5rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}